.mb-34{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px !important;
}
#formPersonalArea{
    margin-top: 150px !important;
}
.label{
    color: white;
}
.label01{
    color: white;
}
.col{
    margin: 0 0 20px 0!important;
}