.mb-34{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px !important;
}
#formPersonalArea{
    margin-top: 150px !important;
}
.label{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}
.label01{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}
.col{
    margin: 0 0 20px 0!important;
}
.big_label{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin: 0 50% 10% 35%;
}
.big_label_e{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin: 0 50% 0 15%;
}
.big_label_ed{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin: 0 50% 0 30%;
}
.label_small{
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    margin: 10px 0 0 0;
}
